
@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Skontaktuj się z administratorem systemu: <a href="mailto:filip_paradowski@test.com">filip_paradowski@test.com</a> </h4>
