
@{
    ViewBag.Title = "BasePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr/>
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-6">
        <a href="@Url.Action("Search","Home")" class="btn btn-danger btn-block" style="height: 120px;"><h2>Zawodnicy</h2></a>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <a href="@Url.Action("RadarReport","Stats")" class="btn btn-success btn-block" style="height: 120px;"><h2>Porównywarka</h2></a>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-6">
        <a href="@Url.Action("Index","Stats")" class="btn btn-info btn-block" style="height: 120px;"><h2>Statystyki</h2></a>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <a href="@Url.Action("About","Home")" class="btn btn-warning btn-block" style="height: 120px;"><h2>Kontakt</h2></a>
    </div>
</div>